FLASK_APP=run.py
FLASK_DEBUG=1
SECRET_KEY=change-me-before-production
MONGO_URI=mongodb+srv://username:password@cluster.example.mongodb.net/?appName=GIRT
MONGO_DB_NAME=girt
GIRT_UPLOAD_FOLDER=app/static/uploads
GIRT_BOOTSTRAP_CORE_USERNAME=core.admin
GIRT_BOOTSTRAP_CORE_PASSWORD=ChangeMe123!
GIRT_BOOTSTRAP_CORE_NAME=Core Administrator
